<div class="body overflow-auto mt-3">
  <mat-slide-toggle class="m-3" [(ngModel)]="useRandomNumber" (change)="onToggleRandomNumber()">
    Use Random Number
  </mat-slide-toggle>
  <div class="table-responsive">
    <table class="table table-hover w-100">
      <thead>
        <tr>
          <th>
            <mat-checkbox [(ngModel)]="selectAll" (change)="toggleAllCheckboxes()">
            </mat-checkbox> Is Enable
          </th>
          <th>Format Type</th>
          <th>Order Set</th>
          <th>Length</th>
          <th>Values</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of formatTypes; let i = index">
          <td>
            <mat-checkbox [(ngModel)]="type.isSelected"></mat-checkbox>
          </td>
          <td>
            <mat-form-field appearance="outline" [disabled]="!type.isSelected">
              <mat-select [(ngModel)]="type.selectedFormat" (selectionChange)="onSelectFormat(type, i)" [disabled]="!type.isSelected">
                <mat-option *ngFor="let format of getAvailableFormats(type.selectedFormat)" [value]="format.id">
                  {{ format.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" [disabled]="!type.isSelected">
              <mat-select [(ngModel)]="type.selectedOrderSet" [disabled]="!type.isSelected">
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let orderSet of getAvailableOrderSets(type.selectedOrderSet)" [value]="orderSet">
                  {{ orderSet }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput  [(ngModel)]="type.length" [disabled]="!type.isSelected" (input)="onLengthChange(type, i)">
            </mat-form-field>
           
          </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="type.value" [disabled]="!type.isSelected || isAutoNumber(type.selectedFormat)" (input)="onValueChange(type, i)">
            </mat-form-field>
            
          </td>
          <td>
            <mat-form-field appearance="outline">
              <input matInput [(ngModel)]="type.remarks" [disabled]="!type.isSelected">
            </mat-form-field>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 mt-3 ">
    <div class="row d-flex">
      <span class="col-6 text-center">
        <mat-form-field appearance="outline" class="w-100 mt-3">
          <input matInput [(ngModel)]="previewId" placeholder="Preview ID" readonly>
        </mat-form-field>
      </span>
      <span class="col-6 text-center">
        <button mat-raised-button color="primary" (click)="generatePreview()">Generate Preview</button>
      </span>
    </div>
    
    
  </div>
</div>
